.dm06 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header {
    color: #FF0004;
    text-align: center;
}
.dm06 p {
    width: 800px;
    background-color: #FF0004;
    border-radius: 15px;
}
.dm06 .圖 {
    width: 1000px;
    height: 900px;
    background-image: url(../Desktop/%E5%BB%A3%E5%91%8A/01.jpg);
    background-size: cover;
}
